<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>REX React Native</title>

        <link rel="stylesheet" href="./node_modules/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="./theme.css">
        <link rel="stylesheet" href="./svg.css">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="./node_modules/reveal.js/lib/css/zenburn.css">

        <style type="text/css">
            .reveal section img.github-activity,
            .reveal section img.github-chart {
                padding: 0.4em;
                border-radius: 0.2em;
                background-color: white;
                margin: 0;
                max-width: 100%;
                max-height: 100%;
            }
            .reveal section img.github-activity {
                width: 100%;
            }
            .reveal section img.github-chart {
                width: 50%;
            }
        </style>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h1 class="talk-titlea">
                        Des graphiques dans Symfony
                        <small>avec Twig et SVG</small>
                    </h1>
                </section>
                <section>
                    <img src="img/time.svg" class="plain">
                    <!--
                        Pour un client, dashboard avec des graph.
                        Un collègue me poste la question "Tu n'a pas utilisé de librairie ?"
                        "Si : SVG"
                    -->
                </section>
                <section>
                    <section>
                        <div style="display: flex; justify-content: center;">
                            <h2 style="flex: 0; text-align: left;">
                                <strong>S</strong>calable<br>
                                <strong>V</strong>ector<br>
                                <strong>G</strong>raphics
                            </h2>
                        </div>
                        <!--
                            - Un format image vectoriel s'appuyant sur XML
                            - Standard ouvert proposé par le W3C
                        -->
                    </section>
                    <section>
                        <p>Une image</p>
                    </section>
                    <section>
                        <p>Vectorielle</p>
                    </section>
                    <section>
                        <p>XML</p>
                        <pre><code class="hljs xml" data-trim>
&lt;svg xmlns="http://www.w3.org/2000/svg">
&lt;/svg></code></pre>
                    </section>
                    <section>
                        <h2>2D</h2>
                        <svg class="fragment" width="420" height="420" viewBox="-20 -20 140 140" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0" y="0" width="100" height="100" class="axe-bold" />

                            <g class="fragment">
                                <line x1="0" y1="100" x2="0" y2="-2" class="axe" />
                                <line x1="25" y1="100" x2="25" y2="-2" class="axe" />
                                <line x1="50" y1="100" x2="50" y2="-2" class="axe" />
                                <line x1="75" y1="100" x2="75" y2="-2" class="axe" />
                                <line x1="100" y1="100" x2="100" y2="-2" class="axe" />

                                <text x="0" y="0" text-anchor="middle" dy="-3">0</text>
                                <text x="25" y="0" text-anchor="middle" dy="-3">25</text>
                                <text x="50" y="0" text-anchor="middle" dy="-3">50</text>
                                <text x="75" y="0" text-anchor="middle" dy="-3">75</text>
                                <text x="100" y="0" text-anchor="middle" dy="-3">100</text>

                                <line x1="100" y1="0" x2="-2" y2="0" class="axe" />
                                <line x1="100" y1="25" x2="-2" y2="25" class="axe" />
                                <line x1="100" y1="50" x2="-2" y2="50" class="axe" />
                                <line x1="100" y1="75" x2="-2" y2="75" class="axe" />
                                <line x1="100" y1="100" x2="-2" y2="100" class="axe" />

                                <text x="0" y="0" text-anchor="end" dx="-3" dy="2">0</text>
                                <text x="0" y="25" text-anchor="end" dx="-3" dy="2">25</text>
                                <text x="0" y="50" text-anchor="end" dx="-3" dy="2">50</text>
                                <text x="0" y="75" text-anchor="end" dx="-3" dy="2">75</text>
                                <text x="0" y="100" text-anchor="end" dx="-3" dy="2">100</text>
                            </g>

                            <rect class="fragment" x="10" y="25" width="60" height="60" fill="orange" />
                            <circle class="fragment" cx="55" cy="40" r="32" fill="tomato" stroke-width="2" stroke="brown" />
                            <line class="fragment" x1="89" y1="15" x2="35" y2="76" stroke="brown" stroke-width="2" />
                        </svg>
                        <!--
                            - Espace 2D
                            - Origin à 0,0
                            - Les noeuds XML décrivents des formes (rectangle, path, text, ...)
                            - Les formes ont de propriété de couleur et de bordure
                        -->
                    </section>
                    <section>
                        <h2>Formes = Noeuds XML</h2>
                    </section>
                    <section>
                        <pre><code class="hljs xml" data-trim>&lt;circle cx="55" cy="40" r="32"></circle></code></pre>
                    </section>
                    <section>
<pre><code class="hljs xml" data-trim>&lt;rect
    x="10"
    y="25"
    width="60"
    height="60"
    fill="red"
/></code></pre>
                    </section>
                    <section>
<pre><code class="hljs xml" data-trim>&lt;line
    x1="89"
    y1="15"
    x2="35"
    y2="76"
    stroke="brown"
    stroke-width="2"
/></code></pre>
                        </code></pre>
                    </section>
                    <section>
                        <h3>Parfait pour les graphs !</h3>
                        <!-- Histogrames, courbes, camembert, ect. -->
                    </section>
                </section>
                <section>
                    <section>
                        <h2>SVG + Twig = <3</h2>
                    </section>
                    <section>
                        <h3>SVG dans vos template :</h3>
                        <p><code>dashboard.html.twig</code></p>
                        <pre><code class="hljs twig" data-trim>
{% block body %}
&lt;div>
  &lt;svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    {% for value in data %}
      &lt;rect x="{{ loop.index }}" y="0" width="1" height="{{ value }}" />
    {% endfor %}
  &lt;/svg>
&lt;/div>
{% endblock %}
                        </code></pre>
                    </section>
                    <section>
                        <div>
                        <p><code>histogram.svg.twig</code></p>
                        <pre><code class="hljs twig" data-trim>
&lt;svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    {# ... #}
&lt;/svg>
                        </code></pre>
                        </div>
                        <div class="fragment">
                            <p><code>dashboard.html.twig</code></p>
                            <pre><code class="hljs twig" data-trim>
{% include 'graph/histogram.svg.twig' with { data: user.activity } %}
                            </code></pre>
                        </div>
                    </section>

                    <section>
                        <p>Macros</p>
                        <pre><code class="hljs twig" data-trim>
&lt;svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    {% for value in data %}
      {{ _self.bar(loop.index, value) }}
    {% endfor %}
&lt;/svg>

{% macro bar(x, height, width = 1, class = 'bar') %}
  &lt;rect class="{{ class }}"
    x="{{ x - width / 2 }}" y="0"
    width="{{ width }}" height="{{ height }}" />
{% endmacro %}
 </code></pre>
                    </section>
                    <section>
                        <h3>Réponse au format SVG :</h3>
                        <pre><code class="hljs php" data-trim>
/**
 * @Route("/graph/pie.svg", name="pie", defaults={"_format":"svg"})
 */
public function pie()
{
    return $this->render(
        'graph/pie.svg.twig',
        [ 'fruits' => $this->data->getFruits() ]
    );
}
                        </code></pre>
                    </section>
                    <section>
                        <pre><code class="hljs html" data-trim>&lt;img src="{{ path('pie') }}" /></code></pre>
                    </section>
                    <section>
                        <pre><code class="hljs yaml" data-trim>
framework:
    request:
        formats:
            svg: 'image/svg+xml'
                        </code></pre>
                    </section>
                </section>
                    <section>
                        <h3>Toute la puissance de Twig</h3>
                        <ul>
                            <li class="fragment">Variables</li>
                            <li class="fragment">Boucles, conditions, ...</li>
                            <li class="fragment">Traduction</li>
                            <li class="fragment">Un peu de math</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Une réponse HTTP complète !</h2>
                    </section>
                <section>
                    <section>
                        <svg class="pie" width="546" height="330" viewBox="-182 -110 364 220" xmlns="http://www.w3.org/2000/svg">
                          <line class="label-line" x1="36.812455268468" y1="92.977648588825" x2="180" y2="92.977648588825"></line>
                          <text class="label" x="102" y="104.97764858883">Abricot : 38%</text>
                          <path class="portion" d="M0,0 L100,0 A100,100 1 0,1 -72.896862742141,68.454710592869 Z"></path>
                          <line class="label-line" x1="-98.228725072869" y1="18.738131458573" x2="-180" y2="18.738131458573"></line>
                          <text class="label" x="-180" y="30.738131458573">Melon : 18%</text>
                          <path class="portion" d="M0,0 L-72.896862742141,68.454710592869 A100,100 1 0,1 -92.977648588825,-36.812455268468 Z"></path>
                          <line class="label-line" x1="-83.580736136827" y1="-54.902281799813" x2="-180" y2="-54.902281799813"></line>
                          <text class="label" x="-180" y="-42.902281799813">Pêche : 6.5%</text>
                          <path class="portion" d="M0,0 L-92.977648588825,-36.812455268468 A100,100 1 0,1 -70.710678118655,-70.710678118655 Z"></path>
                          <line class="label-line" x1="-33.873792024529" y1="-94.088076895423" x2="-180" y2="-94.088076895423"></line>
                          <text class="label" x="-180" y="-82.088076895423">Figue : 14%</text>
                          <path class="portion" d="M0,0 L-70.710678118655,-70.710678118655 A100,100 1 0,1 9.4108313318514,-99.556196460308 Z"></path>
                          <line class="label-line" x1="73.963109497861" y1="-67.301251350977" x2="180" y2="-67.301251350977"></line>
                          <text class="label" x="102" y="-55.301251350977">Prune : 23.5%</text>
                          <path class="portion" d="M0,0 L9.4108313318514,-99.556196460308 A100,100 1 0,1 100,-1.1331077795296E-13 Z"></path>
                        </svg>
                        <!--img src="img/pie.svg" class="plain" style="width: 66%;"-->
                    </section>
                </section>
                <section>
                    <section>
                        <h2>Stylable en CSS</h2>
                    </section>
                    <section>
                        <pre><code class="hljs twig" data-trim>
&lt;svg xmlns="http://www.w3.org/2000/svg">
    &lt;style type="text/css">
        svg.pie .portion {
            fill: #FFCDB2;
            stroke-width: 0;
        }
    &lt;/style>
    {# ... #}
&lt;/svg>
                        </code></pre>
                    </section>
                    <section>
                        <p><code>app.css</code></p>
                        <pre><code class="hljs css" data-trim>
svg.histogram text {
  font-family: 'Ubuntu', monospace;
}
                        </code></pre>
                    </section>
                    <section>
                        <p><code>:hover</code></p>
                    </section>
                    <section>
                        <svg class="time" width="1000" height="280" viewBox="-0 -240 1000 280" xmlns="http://www.w3.org/2000/svg">
                          <line class="axe" x1="-0%" x2="100%" y1="0" y2="0"></line>
                          <g>
                            <rect class="bar" x="18.75" y="-114.41441441441" width="45.833333333333" height="114.41441441441"></rect>
                            <path class="label-box" d="M41.666666666667 -119.41441441441 L36.666666666667 -124.41441441441 L8.1666666666667 -124.41441441441 L8.1666666666667 -153.41441441441 L75.166666666667 -153.41441441441 L75.166666666667 -124.41441441441 L46.666666666667 -124.41441441441 Z"></path>
                            <text class="label" x="41.666666666667" y="-134.41441441441" text-anchor="middle">127 kg</text>
                          </g>
                          <text class="legend" x="41.666666666667" y="20" text-anchor="middle">JANV.</text>
                          <g>
                            <rect class="bar" x="102.08333333333" y="-102.7027027027" width="45.833333333333" height="102.7027027027"></rect>
                            <path class="label-box" d="M125 -107.7027027027 L120 -112.7027027027 L91.5 -112.7027027027 L91.5 -141.7027027027 L158.5 -141.7027027027 L158.5 -112.7027027027 L130 -112.7027027027 Z"></path>
                            <text class="label" x="125" y="-122.7027027027" text-anchor="middle">114 kg</text>
                          </g>
                          <text class="legend" x="125" y="20" text-anchor="middle">FÉVR.</text>
                          <g>
                            <rect class="bar" x="185.41666666667" y="-88.288288288288" width="45.833333333333" height="88.288288288288"></rect>
                            <path class="label-box" d="M208.33333333333 -93.288288288288 L203.33333333333 -98.288288288288 L179.08333333333 -98.288288288288 L179.08333333333 -127.28828828829 L237.58333333333 -127.28828828829 L237.58333333333 -98.288288288288 L213.33333333333 -98.288288288288 Z"></path>
                            <text class="label" x="208.33333333333" y="-108.28828828829" text-anchor="middle">98 kg</text>
                          </g>
                          <text class="legend" x="208.33333333333" y="20" text-anchor="middle">MARS</text>
                          <g>
                            <rect class="bar" x="268.75" y="-100.9009009009" width="45.833333333333" height="100.9009009009"></rect>
                            <path class="label-box" d="M291.66666666667 -105.9009009009 L286.66666666667 -110.9009009009 L258.16666666667 -110.9009009009 L258.16666666667 -139.9009009009 L325.16666666667 -139.9009009009 L325.16666666667 -110.9009009009 L296.66666666667 -110.9009009009 Z"></path>
                            <text class="label" x="291.66666666667" y="-120.9009009009" text-anchor="middle">112 kg</text>
                          </g>
                          <text class="legend" x="291.66666666667" y="20" text-anchor="middle">AVR.</text>
                          <g>
                            <rect class="bar" x="352.08333333333" y="-121.62162162162" width="45.833333333333" height="121.62162162162"></rect>
                            <path class="label-box" d="M375 -126.62162162162 L370 -131.62162162162 L341.5 -131.62162162162 L341.5 -160.62162162162 L408.5 -160.62162162162 L408.5 -131.62162162162 L380 -131.62162162162 Z"></path>
                            <text class="label" x="375" y="-141.62162162162" text-anchor="middle">135 kg</text>
                          </g>
                          <text class="legend" x="375" y="20" text-anchor="middle">MAI</text>
                          <g>
                            <rect class="bar" x="435.41666666667" y="-140.54054054054" width="45.833333333333" height="140.54054054054"></rect>
                            <path class="label-box" d="M458.33333333333 -145.54054054054 L453.33333333333 -150.54054054054 L424.83333333333 -150.54054054054 L424.83333333333 -179.54054054054 L491.83333333333 -179.54054054054 L491.83333333333 -150.54054054054 L463.33333333333 -150.54054054054 Z"></path>
                            <text class="label" x="458.33333333333" y="-160.54054054054" text-anchor="middle">156 kg</text>
                          </g>
                          <text class="legend" x="458.33333333333" y="20" text-anchor="middle">JUIN</text>
                          <g>
                            <rect class="bar" x="518.75" y="-200" width="45.833333333333" height="200"></rect>
                            <path class="label-box" d="M541.66666666667 -205 L536.66666666667 -210 L508.16666666667 -210 L508.16666666667 -239 L575.16666666667 -239 L575.16666666667 -210 L546.66666666667 -210 Z"></path>
                            <text class="label" x="541.66666666667" y="-220" text-anchor="middle">222 kg</text>
                          </g>
                          <text class="legend" x="541.66666666667" y="20" text-anchor="middle">JUIL.</text>
                          <g>
                            <rect class="bar" x="602.08333333333" y="-178.37837837838" width="45.833333333333" height="178.37837837838"></rect>
                            <g class="fragment">
                                <path class="label-box" d="M625 -183.37837837838 L620 -188.37837837838 L591.5 -188.37837837838 L591.5 -217.37837837838 L658.5 -217.37837837838 L658.5 -188.37837837838 L630 -188.37837837838 Z"></path>
                                <text class="label" x="625" y="-198.37837837838" text-anchor="middle">198 kg</text>
                            </g>
                          </g>
                          <text class="legend" x="625" y="20" text-anchor="middle">AOÛT</text>
                          <g>
                            <rect class="bar" x="685.41666666667" y="-104.5045045045" width="45.833333333333" height="104.5045045045"></rect>
                            <path class="label-box" d="M708.33333333333 -109.5045045045 L703.33333333333 -114.5045045045 L674.83333333333 -114.5045045045 L674.83333333333 -143.5045045045 L741.83333333333 -143.5045045045 L741.83333333333 -114.5045045045 L713.33333333333 -114.5045045045 Z"></path>
                            <text class="label" x="708.33333333333" y="-124.5045045045" text-anchor="middle">116 kg</text>
                          </g>
                          <text class="legend" x="708.33333333333" y="20" text-anchor="middle">SEPT.</text>
                          <g>
                            <rect class="bar" x="768.75" y="-86.486486486486" width="45.833333333333" height="86.486486486486"></rect>
                            <path class="label-box" d="M791.66666666667 -91.486486486486 L786.66666666667 -96.486486486486 L762.41666666667 -96.486486486486 L762.41666666667 -125.48648648649 L820.91666666667 -125.48648648649 L820.91666666667 -96.486486486486 L796.66666666667 -96.486486486486 Z"></path>
                            <text class="label" x="791.66666666667" y="-106.48648648649" text-anchor="middle">96 kg</text>
                          </g>
                          <text class="legend" x="791.66666666667" y="20" text-anchor="middle">OCT.</text>
                          <g>
                            <rect class="bar" x="852.08333333333" y="-82.882882882883" width="45.833333333333" height="82.882882882883"></rect>
                            <path class="label-box" d="M875 -87.882882882883 L870 -92.882882882883 L845.75 -92.882882882883 L845.75 -121.88288288288 L904.25 -121.88288288288 L904.25 -92.882882882883 L880 -92.882882882883 Z"></path>
                            <text class="label" x="875" y="-102.88288288288" text-anchor="middle">92 kg</text>
                          </g>
                          <text class="legend" x="875" y="20" text-anchor="middle">NOV.</text>
                          <g>
                            <rect class="bar" x="935.41666666667" y="-97.297297297297" width="45.833333333333" height="97.297297297297"></rect>
                            <path class="label-box" d="M958.33333333333 -102.2972972973 L953.33333333333 -107.2972972973 L924.83333333333 -107.2972972973 L924.83333333333 -136.2972972973 L991.83333333333 -136.2972972973 L991.83333333333 -107.2972972973 L963.33333333333 -107.2972972973 Z"></path>
                            <text class="label" x="958.33333333333" y="-117.2972972973" text-anchor="middle">108 kg</text>
                          </g>
                          <text class="legend" x="958.33333333333" y="20" text-anchor="middle">DÉC.</text>
                        </svg>
                    </section>
                    <section>
                        <svg class="pie" width="546" height="330" viewBox="-182 -110 364 220" xmlns="http://www.w3.org/2000/svg">
                          <line class="label-line" x1="36.812455268468" y1="92.977648588825" x2="180" y2="92.977648588825"></line>
                          <text class="label" x="102" y="104.97764858883">Abricot : 38%</text>
                          <path class="portion" d="M0,0 L100,0 A100,100 1 0,1 -72.896862742141,68.454710592869 Z"></path>
                          <line class="label-line" x1="-98.228725072869" y1="18.738131458573" x2="-180" y2="18.738131458573"></line>
                          <text class="label" x="-180" y="30.738131458573">Melon : 18%</text>
                          <path class="portion" d="M0,0 L-72.896862742141,68.454710592869 A100,100 1 0,1 -92.977648588825,-36.812455268468 Z"></path>
                          <line class="label-line" x1="-83.580736136827" y1="-54.902281799813" x2="-180" y2="-54.902281799813"></line>
                          <text class="label" x="-180" y="-42.902281799813">Pêche : 6.5%</text>
                          <path class="portion" d="M0,0 L-92.977648588825,-36.812455268468 A100,100 1 0,1 -70.710678118655,-70.710678118655 Z"></path>
                          <line class="label-line" x1="-33.873792024529" y1="-94.088076895423" x2="-180" y2="-94.088076895423"></line>
                          <text class="label" x="-180" y="-82.088076895423">Figue : 14%</text>
                          <path class="portion" d="M0,0 L-70.710678118655,-70.710678118655 A100,100 1 0,1 9.4108313318514,-99.556196460308 Z"></path>
                          <line class="label-line" x1="73.963109497861" y1="-67.301251350977" x2="180" y2="-67.301251350977"></line>
                          <text class="label" x="102" y="-55.301251350977">Prune : 23.5%</text>
                          <path class="portion" d="M0,0 L9.4108313318514,-99.556196460308 A100,100 1 0,1 100,-1.1331077795296E-13 Z"></path>
                        </svg>
                        <!--img src="img/pie.svg" class="plain" style="width: 66%;"-->
                    </section>
                </section>
                <section>
                    <section>
                        <h2>Avantages</h2>
                    </section>
                    <section>
                        <h3>Léger</h3>
                    </section>
                    <section>
                        <h3>Mise en cache</h3>
                    </section>
                    <section>
                        <h3>Interactif</h3>
                        <!-- :hover, text selectionable -->
                    </section>
                    <section>
                        <h3>Haute définition</h3>
                        <!-- print / écran haut DPI -->
                    </section>
                </section>
                <section>
                    <section>
                        <h2>Ils l'utilisent :</h2>
                    </section>
                    <section>
                        <img src="img/github-activity.svg" class="plain github-activity">
                    </section>
                    <!--section>
                        <img src="img/github-chart.svg" class="plain github-chart">
                    </section-->
                    <section>
                        <img src="img/symfony-profiler-4.3.png" class="plain">
                    </section>
                    <!--section>
                        Kindle ?
                    </section-->
                </section>
                <section>
                    <div style="display: flex; flex-direction: column-reverse;">
                        <div class="row">
                            <div style="flex: 2;">
                                <h3>Ressources</h3>
                                <p>🐙 <a target="_blank" href="https://github.com/Tom32i/demo-twig-svg">Tom32i/demo-twig-svg</a></p>
                                <p>📚 <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/svg">SVG sur MDN</a></p>
                            </div>
                            <div class="fragment">
                                <a target="_blank" href="https://twitter.com/Tom32i">
                                    <img class="avatar" src="img/tom32i.jpeg">
                                    <p>@Tom32i</p>
                                </a>
                            </div>
                        </div>
                        <h1 class="fragment" style="margin-bottom: 0.4em;">Merci !</h1>
                    </div>
                </section>
            </div>
        </div>

        <script src="./node_modules/reveal.js/lib/js/head.min.js"></script>
        <script src="./node_modules/reveal.js/js/reveal.js"></script>

        <script>
            Reveal.initialize({
                history: true,
                overview: false,
                help: false,

                width: 1280,
                height: 720,

                // Factor of the display size that should remain empty around the content
                margin: 0.1,

                // Bounds for smallest/largest possible scale to apply to content
                minScale: 0.2,
                maxScale: 1.5,

                dependencies: [
                    { src: './node_modules/reveal.js/plugin/markdown/marked.js' },
                    { src: './node_modules/reveal.js/plugin/markdown/markdown.js' },
                    {
                        src: './node_modules/reveal.js/plugin/highlight/highlight.js',
                        callback: () => hljs.initHighlightingOnLoad(),
                        async: true,
                    }
                ]
            });
        </script>
    </body>
</html>
